<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.courseservice.mapper.LessonMapper">

    <resultMap id="LessonResultMap" type="com.campus.model.course.pojos.Lesson">
        <!-- 主键映射 -->
        <id property="id" column="id"/>

        <!-- 普通字段映射 -->
        <result property="courseId" column="course_id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="startWeek" column="start_week"/>
        <result property="endWeek" column="end_week"/>
        <result property="selected" column="selected"/>
        <result property="capacity" column="capacity"/>
        <result property="term" column="term"/>
        <result property="targetGrade" column="target_grade"/>
        <result property="lessonName" column="lesson_name"/>
    </resultMap>


    <select id="getCourseIdsByLessonIds" resultType="java.lang.Long">
        select course_id from lesson where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getSelectedByIds" resultType="com.campus.model.course.pojos.Lesson">
        select id,selected from campus.lesson where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getCourseIdByLessonId" resultType="java.lang.Long">
        select course_id from campus.lesson where id=#{id} and term=#{term};
    </select>
    <select id="getLessonByTeacherId" resultType="com.campus.model.course.pojos.Lesson">
        select lesson.id, course_id, teacher_id, start_week, end_week, selected, capacity, term,
               target_grade,name as lesson_name from campus.lesson join campus.course on lesson.course_id = course.id
        where lesson.teacher_id=#{teacherId} and term=#{term};
    </select>

</mapper>
