<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.courseservice.mapper.LessonMapper">

    <select id="getCourseIdsByLessonIds" resultType="java.lang.Long">
        select course_id from lesson where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getSelectedByIds" resultType="com.campus.model.course.pojos.Lesson">
        select id,selected from campus.lesson where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getCourseIdByLessonId" resultType="java.lang.Long">
        select course_id from campus.lesson where id=#{id} and term=#{term};
    </select>

</mapper>
