server:
  port: 8082

jasypt:
  encryptor:
    password: sdy

spring:
  datasource:
    url: jdbc:mysql://rm-bp192389sdn6g3py62o.mysql.rds.aliyuncs.com/supplychain?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: ENC(1H5k/JGyhJR5HpsyUx2cIfO60eMgo/UE)
    password: ENC(eYRVm0tHx3C6gHxRGzttI7l07g02MY7KjtBvPqfD3fE=)
    thymeleaf:
      mode: HTML5
      encoding: utf-8
      servlet:
        content-type: text/html
      cache: false #开发时关闭缓存,不然没法看到实时页面
    druid:
      initial-size: 5 #连接池初始化大小
      min-idle: 10 #最小空闲连接数
      max-active: 20 #最大连接数
      web-stat-filter:
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*" #不统计这些请求数据
      stat-view-servlet: #访问监控网页的登录用户名和密码
        login-username: druid
        login-password: druid
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  redis:
    host: localhost # Redis服务器地址
    database: 0 # Redis数据库索引（默认为0）
    port: 6379 # Redis服务器连接端口
    password: # Redis服务器连接密码（默认为空）
    timeout: 300ms # 连接超时时间（毫秒）

