<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.ai.mapper.AiOrdersMapper">
    <insert id="insert" parameterType="com.campus.ai.entity.AiOrders">
        INSERT INTO ai_orders (
            id,
            out_trade_no,
            stu_id,
            subject,
            total_amount,
            status,
            create_time
        )
        VALUES (
                   #{orders.id},
                   #{orders.outTradeNo},
                   #{orders.stuId},
                   #{orders.subject},
                   #{orders.totalAmount},
                   #{orders.status},
                   #{orders.createTime}
               )
    </insert>
    <update id="updateStatusByTradeNo">
        update ai_orders
        set status = #{status}
        where out_trade_no = #{outTradeNo}
    </update>
    <select id="getByTradeNo" resultType="com.campus.ai.entity.AiOrders">
        select id, out_trade_no, stu_id, subject, total_amount, create_time, status
        from ai_orders
        where out_trade_no = #{tradeNo}
    </select>
</mapper>